<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>


<body>

    <div class="casing">
        <div class="window">
            <div class="header">Jerry</div>
            <div class="chats">
    
                <span class="u1 chat">Hey sam, whats up?</span>
                <span class="u2 chat">nothing here how 'bout u?</span>
                <span class="u1 chat">I'm just heading up to your neck of the woods for some work related stuff.</span>
                <span class="u1 chat">driveing through mcdonalds right now</span>
                <span class="u2 chat">cool! where exactly will you be?</span>
                <span class="u1 chat">up in the ridgway, mt. horab area</span>
            </div>
    
            <div class="new-chat">
                <input type="text" id="message" />
                <button id="send">Send</button>
            </div>
        </div>
        <div class="home-btn">
            <div class="hb-square"></div>
        </div>
    </div>


</body>
</html>